<div class="bg-secondary-ficha py-4 mb-4" [formGroup]="formFilters">
  <div class="grid-container">
    <div class="px-1 mx-1">
      <aw-select
        [items]="fichaService.contratos$ | async"
        [searchable]="true"
        [clearable]="true"
        formControlName="idOrcamentoCenario"
        bindLabel="nomeOrcamentoCenario"
        bindValue="idOrcamentoCenario"
        placeholder="Contratos"
      >
      </aw-select>
    </div>
    <div class="px-1 mx-1">
      <aw-select
        [items]="grupos$ | async"
        [searchable]="true"
        [clearable]="true"
        [loading]="loadingGrupos"
        formControlName="idCompraNegociacaoGrupo"
        bindLabel="nome"
        bindValue="idCompraNegociacaoGrupo"
        placeholder="Todos os Grupos"
      >
      </aw-select>
    </div>
    <div class="px-1 mx-1">
      <aw-select
        [items]="gruposTipos$ | async"
        formControlName="idCompraNegociacaoGrupoFichaTipo"
        bindValue="idCompraNegociacaoGrupoFichaTipo"
        bindLabel="descricao"
        [searchable]="true"
        [clearable]="true"
        placeholder="Todos os Tipos"
      >
      </aw-select>
    </div>
    <div class="span-2 px-1 mx-1 border-left top-20">
      <div>Periodo</div>
      <div class="d-flex justify-content-between">
        <div class="input-group">
          <input
            [bsConfig]="bsConfig"
            [id]="'startDate'"
            dateMask
            autocomplete="off"
            bsDatepicker
            class="form-control"
            formControlName="dataInicio"
            maxlength="11"
            placeholder="___ /___ /______"
            placement="bottom"
            type="text"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="icon icon-calendar"></i>
            </div>
          </div>
        </div>
        <div [class.has-danger]="" class="input-group">
          <input
            [bsConfig]="bsConfig"
            [id]="'endDate'"
            dateMask
            autocomplete="off"
            bsDatepicker
            class="form-control"
            formControlName="dataFim"
            maxlength="11"
            placeholder="___ /___ /______"
            placement="bottom"
            type="text"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="icon icon-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3 pb-3">
  <div class="grid-container-tipos" *ngLet="formFilters.get('idCompraNegociacaoStatus') as tabControl">
    <div (click)="tabControl.setValue(null)" [class.active]="tabControl.value === null">Todos</div>
    <div (click)="tabControl.setValue(3)" [class.active]="tabControl.value === 3">
      <span class="circulo yellow"></span>
      <span class="ml-3">Em Aprovação</span>
    </div>
    <div (click)="tabControl.setValue(13)" [class.active]="tabControl.value === 13">
      <span class="circulo green"></span>
      <span class="ml-3">Aprovado</span>
    </div>
    <div (click)="tabControl.setValue(14)" [class.active]="tabControl.value === 14">
      <span class="circulo red"></span>
      <span class="ml-3">Reprovado</span>
    </div>
  </div>
</div>
