@import 'variables';

$spacing: 10px;

legend {
  font-size: 14px;
}

label {
  font-size: 12px;
}

.form-group {
  h4 {
    margin: 0 100px 35px 0;
  }
}

.input-radio {
  textarea,
  input {
    height: auto;
    width: 570px;
  }
}

.padding-left {
  padding-left: 80px;
}

.background {
  background-color: #f2f5f7;

  .input-radio {
    padding: 0 120px 0 80px;
  }

  textarea {
    background-color: #f2f5f7;
  }

  label {
    font-weight: bold;
  }
}

.control-switch {
  padding-left: 60px;
  padding-right: 128px;
}

.btn-bottom {
  margin-bottom: 30px;

  .btn {
    padding: 7px 70px;
  }

  .btn-primary {
    margin-right: 100px;
  }
  .btn-secondary {
    margin-right: 30px;
  }
}

.after-background {
  margin-top: $spacing * 2;
}
