@import 'variables';

.anexos {
  border-radius: $border-radius;
  background-color: $very-light-blue;
  padding: 10px;
  > .header {
    padding: 0 10px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: 25px 1fr 180px 60px;
    grid-gap: 0.5rem;
  }
  > .list {
    > .anexo-avulso {
      border-radius: $border-radius;
      background-color: #ffffff;
      padding: 10px;
      margin: 10px;
      display: grid;
      grid-template-columns: 25px 1fr 180px 60px;
      grid-gap: 0.5rem;
      > .check {
        display: flex;
        align-items: center;
      }
      > .download {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
