<aw-wrapper-page titulo="Tutorial" subTitulo="Portal Fornecedor" (voltar)="voltar()">
  <table
    width="100%"
    border="0"
    cellspacing="0"
    cellpadding="0"
    style="font-family: Arial, Helvetica, sans-serif; font-size: 18px"
  >
    <tr>
      <td align="center" style="padding-top: 20px">Acesso ao Portal AW Fornecedor</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/a8f55ef8ea3968c854141a9dde359e71/6bcd20f657312d121e4cbf183d49b13c"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">Passo 1 - Condi&ccedil;&otilde;es Gerais de Fornecimento</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/a8f55ef8ea3968c854141a9dde359e71/295da0186edc7561b95c83aeb3ad9625"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">Passo 2 - Normas e Recomenda&ccedil;&otilde;es</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/a8f55ef8ea3968c854141a9dde359e71/0be899354fc4438dbd954fa4a8ef4f38"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">Passo 3 - Preencher Or&ccedil;amento</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/9f26b96ab4e54638274b1f118b5a35bf/5b1d9c975fd6c2efb63c14192f597501"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">Passo 4 - Aplicar Descontos</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/a8f55ef8ea3968c854141a9dde359e71/6799f0deeb8e72374c99baaaf31429a6"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">Passo 5 - Enviar Proposta</td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px">
        <iframe
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          width="640"
          height="360"
          src="https://fast.player.liquidplatform.com/pApiv2/embed/a8f55ef8ea3968c854141a9dde359e71/fbc99b1990c444eabceca55f99f31d07"
          scrolling="no"
          frameborder="0"
          allow="geolocation; microphone; camera; encrypted-media; midi"
        ></iframe>
      </td>
    </tr>
  </table>

  <div footer>
    <button awButton status="secondary" routerLink="../">Voltar</button>
  </div>
</aw-wrapper-page>
