.aw-filter {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  background-color: #fff;
  padding: 15px;
  display: grid;
  border-radius: 3px;
  box-shadow: 0 1px 22px 0 rgba(136, 136, 136, 0.5);
  > div:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #9ea1ae;
  }
  > div {
    > input,
    .aw-select {
      margin-bottom: 10px;
    }
  }
  > .sort {
    div {
      margin-bottom: 10px;
      cursor: pointer;
      &:hover,
      &.active {
        font-weight: 500;
      }
    }
  }
  > .filter {
  }
  > .conditional {
  }
}
