@use 'variables' as v;

.grid-container {
  display: grid;
  grid-template-columns: 25px 25px minmax(0, 1fr) 100px 75px;
  grid-gap: 1rem;
}

.avaliacao {
  text-align: center;
}

.select-all {
  padding: 1rem 1rem 0 1rem;
  aw-checkbox {
    grid-column: span 4;
    padding-bottom: 1rem;
  }
  .avaliacao {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.fornecedor {
  background-color: v.$light-gray;
  border-radius: v.$border-radius;
  margin-bottom: 1rem;
  &:not(.cc-emitida):not(.mapa-enviado) {
    &.color-white {
      color: white;
      &.disabled {
        color: #e9ecef;
        * {
          opacity: 0.9;
        }
      }
    }

    &.preco-baixo {
      background-color: v.$danger;
    }

    &.pre-homologado {
      background-color: v.$orange-dark;
    }

    &.volume-contratacao {
      background-color: v.$yellow;
    }

    &.desomologado,
    &.suspenso {
      background-color: v.$roxo;
    }
  }
  &.disabled {
    * {
      opacity: 0.8;
    }
    color: #6c757d;
  }
}

.header {
  cursor: pointer;
  padding: 1rem;
}

.fornecedor.disabled .header {
  cursor: default;
}

.inner-body {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem;
  > .form-group {
    margin: 0;
  }
}

.error {
  color: v.$red;
  font-size: 10px;
  margin-left: 1rem;
}

.nome-fantasia {
  font-weight: 500;
}
