@import 'variables';

.block.produtos-servicos {
  > .content {
    hr {
      border-color: $bluey-grey;
      &.light {
        border-color: $gray-secondary;
      }
      &.low-margin {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    > .info {
      grid-template-columns: 100px 1fr 1fr;
      > .end {
        text-align: end;
        > span:first-child {
          margin-right: 2rem;
        }
      }
    }
    > .lista {
      > .header,
      > .body {
        display: grid;
        grid-template-columns: 100px repeat(2, minmax(0, 1fr)) 150px;
        padding: 15px;
        > .valor-total {
          text-align: end;
        }
      }

      > .header {
        > .atributos {
          margin-left: 25px;
        }
        padding-top: 0;
        padding-bottom: 0;
        > div {
          font-size: 0.75rem;
        }
      }

      > .body {
        > .valor-total {
          font-weight: bold;
        }
        > .atributos {
          > ul > li:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
