@import 'variables';

.input-radio {
  background-color: #f2f5f7;
  padding: 15px 100px 15px 70px;

  textarea {
    background-color: #f2f5f7;
  }
}

.btn-bottom {
  margin-top: 30px;
  padding: 7px 70px;
}

.btn-secondary {
  margin-right: 30px;
}
