<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="d-flex justify-content-between w-100">
    <a class="navbar-brand c-pointer" (click)="home()">
      <!-- <i class="icon icon-logo"></i> -->
      <span class="aw-icon-logo">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
      </span>
    </a>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-circle" type="button">
            <i class="icon icon-toggle-theme"></i>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-circle" type="button">
            <span class="icon icon-bell">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </span>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-icon" type="button">
            <i class="icon icon-search"></i>
          </button>
        </li>
        <li class="nav-item v-divider"></li>
        <li class="nav-item">
          <div>
            <div class="toggle-user-menu">
              <div class="dropdown-header">
                <p class="user-name mb-0">DEV</p>
                <hr />
                <div class="user-position">
                  DEV
                  <i class="icon icon-caret-down ml-auto"> </i>
                </div>
              </div>
              <img alt="User avatar" class="img-fluid rounded-circle user-img" src="/profile.png" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
