@media (min-width: 1700px) {
  .grupo-descricao {
    width: 430px !important;
  }

  .media1 {
    width: 533px !important;
  }
  .media2 {
    width: 375px !important;
  }

  .grupo-percentual {
    padding-left: 0 !important;
  }
}
.width-subtotal {
  width: 175px !important;
}
.w-imposto {
  width: 200px !important;
}
