.container-aplicarDesconto {
  background: #e7ecef;
  position: relative;
  padding: 20px;
  border-radius: 5px;

  .aplicarDesconto {
    padding: 20px;
    background: #fff;
    text-align: center;
  }
}

.card {
  box-shadow: none;
  border: none;
}
