@import 'variables';
:host ::ng-deep {
  .questionario-tab {
    .nav-tabs {
      border-bottom: 5px solid #e7ecef;
      margin: 0 -1.25rem;
      padding: 0 1.25rem;
      .nav-link {
        opacity: 0.5;
        font-size: 1rem;
        border: none;
        color: $gray;
        font-weight: bold;
        padding: 0.7rem 1.2rem;
        &.active {
          opacity: 1;
          background-color: #e7ecef;
        }
      }
    }
  }
}
:host ::ng-deep {
  .card {
    margin: 20px 0;
    .card-sub-header {
      flex: 1 1 auto;
      padding: 0.75rem 1.25rem;
      background-color: #f2f5f7;
      h2 {
        margin: 0;
        font-size: 0.85rem;
      }
    }
    .project-name {
      font-size: 0.85rem;
      margin: 1rem 0 2rem;
      span {
        color: #048dbc;
      }
    }
    .questionario-steps {
      display: flex;
      justify-content: stretch;
      .nav-pills {
        flex-direction: column !important;
        li + li:after {
          left: 17px;
        }
        a {
          padding-left: 0;
          .title {
            width: 10rem;
            max-width: none;
          }
        }
      }
    }
  }
}
