@import 'variables';

.header,
.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  padding: 5px;
  > .nome,
  > .tipo {
    grid-column: span 4;
    > .icon {
      margin-left: 0.5rem;
    }
  }
  &.error {
    color: $danger;
  }
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-secondary;
}

.body {
  &.no-items {
    grid-template-columns: none;
  }
  &:nth-child(odd) {
    background-color: white;
  }
}
