@import 'variables';

.acoes {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) 60px 2rem;
  padding: 0 0.5rem;
  grid-gap: 0.25rem;
  &:not(:last-child) {
    border-bottom: 1px solid $grey-light;
  }
  &.not-first {
    padding-top: 0.5rem;
  }
  &.with-padding {
    padding-bottom: 0.5rem;
  }
  > div {
    &:first-child {
      padding-left: 1rem;
    }
    &.status-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 0.25rem;
      > .status {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        font-size: 12px;
        width: 100%;
        color: white;
        &.alterado {
          background-color: $yellow;
        }
        &.novo {
          background-color: $green-alt;
        }
        &.válido,
        &.superado {
          color: black;
        }
      }
    }
    &.acoes-icons {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 20px));
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

:host {
  ::ng-deep {
    .popover-info {
      .title {
        font-weight: bold;
        margin-bottom: 0.25rem;
        &.has-close {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .value:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.modal-body {
  .documento,
  .versao {
    margin-bottom: 1rem;
  }
}
