@import 'variables';

.grupo-item-content {
  border-radius: $border-radius;
  background-color: white;
  min-height: 100px;
  padding: 1rem;
  .quantificar {
    background-color: $gray-secondary;
    border-radius: $border-radius;
    padding-bottom: 0.001rem;
    .title {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: $border-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6 {
        margin: 0;
      }
    }
    .content {
      margin: 1rem;
      padding: 0.5rem 0;
      background-color: white;
    }
  }
  > .filhos {
    margin-top: 1rem;
    > .title {
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 120px 1fr;
      grid-gap: 1rem;
      background-color: $gray-secondary;
      padding: 0.5rem 1rem;
      border-radius: $border-radius;
      h6 {
        margin: 0;
        grid-column-start: 2;
      }
    }
  }
  > .catalogo {
    > .header {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: var(--ice-blue);
      display: flex;
      color: $primary;
      margin-top: 1rem;
      .text,
      .icon {
        margin-left: auto;
      }
      .icon {
        cursor: pointer;
        padding: 5px;
        &.caret {
          font-size: 6px;
        }
      }
    }
  }
}

.icon.caret {
  font-size: 6px;
  color: $primary;
}
