.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  //.start-2 {
  //  grid-column-start: 2;
  //}
  //.start-3 {
  //  grid-column-start: 3;
  //}
}
.border-bottomm {
  border-bottom: #9ea1ae 1px solid;
}
