<div class="grupo-item-content">
  <div
    class="quantificar"
    *ngLet="grupoItem.statusProperty.quantitativo === 'loading' as quantitativoLoading"
    [awSpinner]="quantitativoLoading"
    size="sm"
  >
    <div class="title" (click)="openQuantitativo()">
      <h6>Quantificar</h6>
      <span
        class="icon caret"
        [ngClass]="{
          'icon-caret-up': grupoItem.openedQuantitativo,
          'icon-caret-down': !grupoItem.openedQuantitativo
        }"
      ></span>
    </div>
    <div class="content" @collapse *ngIf="grupoItem.openedQuantitativo">
      <app-del-gi-quantificar
        [idOrcamentoGrupoItem]="grupoItem.idOrcamentoGrupoItem"
        [activeTab]="grupoItem.activeTab"
        [quantitativo]="grupoItem.quantitativo"
        [isLoading]="quantitativoLoading"
      ></app-del-gi-quantificar>
    </div>
  </div>
  <div class="filhos">
    <ng-container *ngFor="let group of filhosGrouped$ | async; trackBy: trackByGrouped">
      <div class="title">
        <h6>{{ group.descricao }}</h6>
      </div>
      <div class="itens">
        <app-deli-grupo-item-filho
          *ngFor="let grupoItemFilho of group.itens; trackBy: trackByGrupoItemFilho"
          [grupoItem]="grupoItem"
          [grupoItemFilho]="grupoItemFilho"
        ></app-deli-grupo-item-filho>
      </div>
    </ng-container>
  </div>
</div>
