@import 'variables';

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

hr {
  margin: 0;
}

.bg-cinza {
  background: $very-light-blue;
}

:host ::ng-deep .icon-caret-down,
:host ::ng-deep .icon-caret-up {
  color: #019bcf;
}

:host ::ng-deep .aw-select .icon-caret-down,
:host ::ng-deep .aw-select .icon-caret-up {
  color: black;
}

.icon {
  font-size: 8px;
  align-self: center;
}

.totais {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px 0 0;
}

.cursor {
  cursor: pointer;
}
