@import 'variables';

.aw-btn-loading-spinner {
  > .overlay {
    border-radius: 3px;
  }
}
.aw-btn {
  position: relative;
  &.btn-link {
    cursor: pointer;
    color: $primary;
    &:hover {
      color: lighten($primary, 10%);
    }
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  &:not(.btn-circle):not(.btn-icon) {
    &.aw-btn-primary {
      width: 250px;
    }
    &.aw-btn-secondary {
      width: 150px;
    }
  }
  &.btn-circle {
    display: inline-flex;
    > .aw-btn-loading-spinner {
      > .overlay {
        border-radius: 50%;
      }
    }
    &.btn-icon {
      width: 25px;
      height: 25px;
      &.btn-xs {
        width: 20px;
        height: 20px;
      }
      &.btn-lg {
        width: 50px;
        height: 50px;
      }
    }
  }

  &.btn-icon,
  &.btn-circle {
    padding: 0;
  }

  &.btn-icon {
    line-height: 0;
    vertical-align: baseline;
    &.btn-xs {
      > .aw-btn-icon {
        font-size: 10px;
      }
    }
    &.btn-lg {
      > .aw-btn-icon {
        font-size: 25px;
      }
    }
  }
}
