<div class="d-flex justify-content-between">
  <ng-content select="[extra-content]"></ng-content>
</div>

<div class="row">
  <div class="col-12">
    <div class="card project-header">
      <div class="card-header">
        <h4 class="card-title">
          {{ nomeOrcamento }}
        </h4>
      </div>
      <div class="card-body">
        <h6 class="project-name">
          <strong class="text-success">{{ numeroProjeto }}</strong>
          {{ nomeProjeto }}
        </h6>
      </div>
    </div>
  </div>
</div>
